
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(255, 255, 255, 0.2));
  font-size: 20px;
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: black;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background-color:  white;
    min-height: 100vh;
}
h1,h2,h3,h4,h5{
    font-family: 'Alata', sans-serif;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    padding: 16px 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.top-menu{
    display: flex;
    list-style: none;
    gap: 14px;
}
.top-item a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.banner{
background-image: url("./images/desktop/image-hero.jpg");
min-height: 600px;
background-size: cover;
display: flex;
align-items: center;

}
.banner-title{
    color: white;
    font-size: 4.2rem;
    text-transform: uppercase;
    font-weight: 100;
    border: 2px solid white;
    width: 50%;
    padding: 16px;
}
.banner-content{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 65px;
}
.firstsection{
    max-width: 1200px;
    margin: 5% auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.interactive{
    width: 60%;
    display: block;
}
.text1-2{
width: 40%;
position: relative; 
background-color: white;
top:130px;
padding: 40px;
right: 80px;

}
.text1{ 
font-weight: 100;
font-size: 4vmin;
text-align: center;
margin-bottom: 30px;

}
.text2{
    font-weight: 100;
}
.secondsection{
    width: 80%;
    margin: 5% auto;
    max-width: 1200px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}
.secondsection-top{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.secondsection-title{

    font-size: 2rem;
    font-weight: 300;
}
.secondsection-btn{
    border: 2px solid black;
    background: transparent;
    padding: 8px 12px;
}
.project-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
}
.project-image{
    width: 100%;
}

.project{
    flex-grow: 1;
    position: relative;
}
.project-title{
    position: absolute;
    bottom: 12px;
    color: white;
    left: 12px;
    font-size: 2rem;
    font-weight: 300;
}



.footer{
    align-items: center;
    width: 80%;
    max-width: 1200px;
    padding: 30px 0;
    position: absolute;
    left: 50%;
    background-color: black;
    transform: translateX(-50%);
}
.footer-top{
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.footer-menu{
    
    display: flex;
    list-style: none;
    gap: 14px;
}
.footer-down{
    margin: 0 25px;
    display: flex;
    justify-content: space-between;
}
.end-text{
    margin-top: 3px;
    color: aliceblue;
    font-size: 0.6rem;
}

.hamburger{
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


@media(max-width:1200px){
    .project-title{
        font-size: 3vmin;
    }
    .text1{
        font-size: 3vmin;
    }
    .text2{
        font-size: 1.7vmin;
    }
    .text1-2{
        top:80px;
        padding: 50px;
        right: 80px;
    }
    .banner-title{
    color: white;
    font-size: 4.2rem;
    text-transform: uppercase;
    font-weight: 100;
    border: 2px solid white;
    width: 100%;
    padding: 16px;
    }
    .waviy {
        position: relative;
        -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(255, 255, 255, 0.2));
        font-size: 15px;
      }

}

@media(max-width:992px){
    .project-title{
        font-size: 2vmin;
    }
    .project-wrapper{
        flex-direction: column;
        width: 100%;
        align-items: initial;
    }
    .text1{
        font-size: 2vmin;
    }
    .text2{
        font-size: 1.4vmin;
    }
    .text1-2{
        width: 40%;
        position: relative; 
        background-color: white;
        top:60px;
        padding: 50px;
    }
    .banner-title{
        color: white;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 100;
        border: 2px solid white;
        width: 100%;
        padding: 16px;
    }

    .top nav{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .firstsection{
        max-width: 1200px;
        margin: 5% auto;
        width: 80%;
        display: block;
        justify-content: center;
        align-items: center;
    }
    .interactive{
        width: 100%;
        display: block;
    }
    .text1-2{
    width: 100%;
    position: relative; 
    text-align: center;
    background-color: white;
    top:10px;
    margin: 0 auto;
    right: 0;  
    }
    .text1{        
    font-weight: 100;
    font-size: 4vmin;
    text-align: center;
    }
    .text2{
        font-weight: 100;
    }

    
}
@media(max-width:400px){
    .waviy {
        
        position: relative;
        -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(255, 255, 255, 0.2));
        font-size: 10px;
      }
      .project-wrapper{
        flex-direction: column;
    }
    
}
